@page "/job-board"
@rendermode InteractiveServer
@using RecruitmentManager.Models
@using RecruitmentManager.Data
@using Microsoft.AspNetCore.Components.QuickGrid

@inject HRMSContext DbContext

<h3>HRMS Job Portal</h3>
<div>
     <QuickGrid Items="@DbContext.Jobs">
        <PropertyColumn Property="@(job => job.PIN)" Sortable="true" />
        <PropertyColumn Property="@(job => job.Position)" Sortable="true" />
        <PropertyColumn Property="@(job => job.Location)" Sortable="true" />
        <PropertyColumn Property="@(job => job.ExternalClosingDate)" Format="yyyy-MM-dd" Title="End Date" Sortable="true" />
        @* <PropertyColumn /> *@
    </QuickGrid>
</div>
<div>

    <button onclick="window.location.href='/job';">New Job Posting</button>
</div>