@page "/apply-with-mdeq"
@rendermode InteractiveServer
@using RecruitmentManager.Models
@using RecruitmentManager.Data
@using RecruitmentManager.Components.Layout
@using Microsoft.AspNetCore.Components.QuickGrid

@layout CandidateLayout
@inject HRMSContext Context
@inject NavigationManager NavigationManager

<div class="container">
    <h2>Apply with MDEQ</h2>
    <p>
        The Mississippi Department of Environmental Quality (MDEQ) is an Equal Opportunity Employer and is committed to a discrimination-free workplace and to providing equal opportunity in employment for all people without regard to race, color, religion, pregnancy, sex, national origin, age, physical or mental disability, veteran status, uniformed service, or other protected characteristic. MDEQ offers a variety of career opportunities that require varied levels of education and experience.
    </p>
    <p>
        In compliance with the ADA Amendments Act (ADAAA), if you have a disability and would like to request an accommodation in order to apply for a position with MDEQ, please contact the Human Resources Office at (601) 961-5280 or Anna Godfrey.
    </p>
    <p>
        <strong>Employment Eligibility: </strong>MDEQ only employs natural born or naturalized United States citizens or those who are authorized to work in the United States by holding a permanent resident card (i.e. a green card).  Upon hire, applicants must be able to provide proof of employment eligibility. Additionally, adult males born on or after January 1, 1960 must have registered with the selective service between the ages of 18 and 25.  Upon hire, applicants must be registered with the Selective Service, if applicable.
    </p>

    <div>
        <h3>MDEQ Job Openings</h3>
        <QuickGrid TGridItem="Job" Items="@Context.Jobs">
            <PropertyColumn Property="@(job => job.Location)" Sortable="true" />
            <PropertyColumn Property="@(job => job.Position)" Sortable="true" />
            <PropertyColumn Property="@(job => job.EndDate)" Title="End Date" Sortable="true" />
            <TemplateColumn Title="Apply" Context="job">
                <input type="checkbox" @onchange="args => ToggleCheckbox(args, job.PIN)" />
            </TemplateColumn>
        </QuickGrid>
        <button style="float: right;" onclick="@GenerateApplication">Apply to Selected Positions</button>
    </div>
</div>

@code {
    List<int> Selected = new List<int>();

    // OnClick Function creates query string to attach to button
    async Task ToggleCheckbox(ChangeEventArgs args, int pin)
    {
        bool isSelected = (bool)args.Value;
        if (isSelected) Selected.Add(pin);
        else Selected.Remove(pin);
    }

    private async Task GenerateApplication()
    {
        if (Selected?.Any() ?? false)
        {
            var queryString = string.Join("&", Selected.Select(pin => "pin=" + pin));
            NavigationManager.NavigateTo("/candidate-application?" + queryString);
        }
    }
}