@page "/apply"
@rendermode InteractiveServer

@using System.Net.Mail
@using SendGrid
@using SendGrid.Helpers.Mail
@using System
@using System.Runtime.InteropServices.JavaScript
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore
@using RecruitmentManager.Components.Layout
@using RecruitmentManager.Data
@using RecruitmentManager.Models
@using RecruitmentManager.Services

@layout CandidateLayout
@inject HRMSService Service

<h3>Apply with MDEQ</h3>

<dialog open="@submitted">
    <p>@AlertMessage</p>
    <form method="dialog">
        <button onclick="window.location.href='@location';" auto>Close</button>
    </form>
</dialog>
<div class="container">
    <EditForm FormName="candidate-application" EditContext="EditContext" OnSubmit="SubmitCandidateApplication">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div>
            <label for="firstName">
                First Name <span class="required">*</span>
            </label>
            <InputText id="firstName" @bind-Value="Model!.FirstName" DisplayName="First Name" class="required" />
        </div>

        <div>
            <label for="lastName">
                Last Name <span class="required">*</span>
            </label>
            <InputText id="lastName" @bind-Value="Model.LastName" DisplayName="Last Name" class="required" />
        </div>

        <div>
            <label for="preferredName">
                Preferred Name
            </label>
            <InputText id="preferredName" @bind-Value="Model.PreferredName" DisplayName="Preferred Name" />
        </div>

        <div>
            <label>
                Email <span class="required">*</span>
            </label>
            <InputText @bind-Value="Model.Email" DisplayName="Email" class="required" />
        </div>

        <div>
            <label>
                Phone <span class="required">*</span>
            </label>
            <InputText @bind-Value="Model.Phone" DisplayName="Phone" class="required" />
        </div>

        <div>
            <label>
                Highest Level of Education Completed
            </label>
            <InputSelect class="required" @bind-Value="Model.EducationDegree" DisplayName="Highest Level of Education">
                <option value="GED">GED</option>
                <option value="High School">High School</option>
                <option value="Associate Degree">Associate Degree</option>
                <option value="Bachelor's Degree">Bachelor's Degree</option>
                <option value="Master's Degree">Master's Degree</option>
                <option value="PhD">PhD</option>
            </InputSelect>
        </div>

        <div>
            <label>
                Major
            </label>
            <InputText @bind-Value="Model.Major" DisplayName="Major" />
        </div>

        <div class="toggleInput">
            <label for="notGraduated">
                I have not graduated
                <InputCheckbox @bind-Value="Model.HasGraduated" @onclick="() => {hidden = !hidden;}" />
            </label>

            <div id="optionalContent" hidden="@hidden">
                <label for="graduationDate">
                    Expected graduation:
                </label>
                <InputDate id="graduationDate" @bind-Value="Model.ExpectedGraduationDate" />
            </div>
        </div>

        <div>
            <label for="industries">
                Industries
            </label>
            <p> <span class="description">Please list industries you find most applicable to your experience or personal interest.</span></p>

            <InputTextArea id="industries" DisplayName="Industries" @bind-Value="Model!.Industries"></InputTextArea>
        </div>

        <div>
            <label for="resumeEtc">
                Resume
            </label>
            <InputFile type="file" id="resumeEtc" multiple />
        </div>
        <br />
        <div>
            <details>
                <summary>
                    Do you meet our employment eligibility?
                </summary>

                <ol type="A">
                    <li>
                        Any male between the ages of 18 and 26 must be registered with the Selective Service to qualify for employment with the State of Mississippi. Upon hire, applicants must be registered with the Selective Service, if applicable.
                    </li>

                    <li>
                        MDEQ only employs natural born or naturalized United States citizens or those who are authorized to work in the United States by holding a permanent resident card (i.e. a green card). Upon hire, applicants must be able to provide proof of employment eligibility.
                    </li>
                </ol>
            </details>
            <label for="eligibility">
                I am eligible for employment with the State of Mississippi.
                <InputCheckbox @bind-Value="Model.IsEmploymentEligible" @onclick="() => {disabled = !disabled;}" />
            </label>

        </div>

        <div>
            <button type="submit" disabled="@disabled">Submit</button>  <button type="reset">Cancel</button>
        </div>

    </EditForm>

    <div>
        <h4>Positions Applying For:</h4>
        <ul>
            @foreach (var job in Jobs)
            {
                <li>@job.Position [@job.Location]</li>
            }
        </ul>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    public Candidate? Model { get; set; }
    public List<Job> Jobs { get; set; } = new();
    private EditContext? EditContext { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "pin")]
    public string[]? PINs { get; set; }

    private bool hidden = true;
    private bool disabled = true;
    private string? AlertMessage { get; set; }
    private string location = "";
    private bool submitted = false;


    protected override void OnInitialized()
    {
        var now = DateTime.Now;
        Model ??= new() { ExpectedGraduationDate = DateOnly.FromDateTime(now) };
        EditContext = new EditContext(Model);
    }

    protected override void OnParametersSet()
    {
        if (PINs!.Length > 0)
        {
            foreach (var pin in PINs)
            {
                var job = Service.GetByJobId(int.Parse(pin));
                Jobs.Add(job!);
            }
        }
    }

    public async void SubmitCandidateApplication()
    {
        Service.Create(Model!);
        AlertMessage = string.Format("Application submitted at {0}!", Model.DateSubmitted);
        submitted = true;
        location = "/apply-with-mdeq";
        await SendEmail();
    }

    public void InvalidSubmission()
    {
        AlertMessage = "Invalid submission.";
        location = "/candidate-application";
    }

    private async Task SendEmail()
    {
        string apiKey = Environment.GetEnvironmentVariable("SENDGRID_API_KEY");
        var client = new SendGridClient(apiKey);
        var from = new EmailAddress("mstewart@mdeq.ms.gov", "MDEQ - HR Office");
        var subject = string.Format("{0}, {1}", Model!.LastName, Model.FirstName);
        var to = new EmailAddress("mstewart@mdeq.ms.gov", "HRMS");
        var plainTextContent = string.Format("{0} {1}\n{2}\n{3}\n{4}",Model.FirstName,Model.LastName,Model.PreferredName,Model.Email,Model.Resume);
        var htmlContent = "<strong>Testing sending emails with SendGrid</strong>";
        var message = MailHelper.CreateSingleEmail(from, to, subject, plainTextContent, htmlContent);
        var response = await client.SendEmailAsync(message);
    }

}